<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome in SplitNotThatWise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .jumbotron-heading {
            font-size: 5em;
        }

        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

        body {
            background: cadetblue;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="text-center jumbotron-heading"> Welcome in Penny-Pincher </h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://media.istockphoto.com/id/1424757003/photo/budget-and-financial-planning-concept-including-a-management-or-executive-cfo-estimating-the.jpg?s=612x612&w=0&k=20&c=-qReHcxce_QnKsWlvV1x7jOndAAjPpiuFR7fZ7AUfQ0="
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">What is our task?</h5>
                    <p class="card-text">The task of the PennyPincher application is to facilitate convenient expense
                        settlement between you and your friends.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://media.istockphoto.com/id/635974362/photo/building-a-network-towards-success.jpg?s=612x612&w=0&k=20&c=cwxRzaKQdvMJZ1FapI7qgGpbQCtSBf9PLQ2FMk0Tu0M="
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">No more misunderstandings</h5>
                    <p class="card-text">Are you tired of constantly remembering who owes you how much? Forget about it!
                        Join PennyPincher,
                        invite friends to the events you create, and be able to control expenses in real-time.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://media.istockphoto.com/id/643137108/photo/ecstatic-group-enjoying-the-party.jpg?s=612x612&w=0&k=20&c=saW_oIf8jjuJ_rPjCrQkKHLcJqYxvYEA7_CiwbTktcs="
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Saving time for what is really important</h5>
                    <p class="card-text">We take care about your finances, just so you could enjoy your life and spend your spare time with your friends!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end mt-4">
        <div class="col-auto text-end">
            <p class="text-dark">Don't have an account?</p>
        </div>
        <div class="col-auto">
            <a href="/register" class="btn btn-primary">Sign up</a>
        </div>
        <div class="col-auto text-end">
            <p class="text-dark">Already have an account?</p>
        </div>
        <div class="col-auto">
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>
</body>
</html>